.homeContainer {
    padding: 20px;
    background-color: #f4f4f4; 
}

.heroSection {
    text-align: center;
    background-color: inherit; 
    color: #fff; 
    padding: 40px 20px;
    border-radius: 8px; 
}

.heroSection h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color:black;
}

.heroSection p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color:black;
}

.searchBar {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    border: 1px solid #020202; 
    border-radius: 5px;
    background-color: #fff; 
    color: #020202; 
}
input:focus-visible{
    border:2px solid black;
}

.searchBar::placeholder {
    color: #7f8c8d; 
}

.featuredAlumni, .allAlumni {
    margin-top: 20px;
    z-index:0;
}

.featuredAlumni h2, .allAlumni h2 {
    margin-bottom:20px;
    font-size: 2rem;
    color: #020202; 
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

@media (max-width: 760px) {
    .cards {
        justify-content: flex-start;
    }

    .searchBar {
        width: 100%;
    }
}
