.homeContainer {
    padding: 20px;
    background-color: #f4f4f4; 
    margin-top:50px;
}

.heroSection {
    text-align: center;
    background-color: crimson; /* Crimson background */
    color: #fff; /* White text color */
    padding: 40px 20px;
    border-radius: 8px; /* Rounded corners */
}

.heroSection h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.heroSection p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.searchBar {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    border: 1px solid #020202; /* Black border */
    border-radius: 5px;
    background-color: #fff; /* White background */
    color: #020202; /* Black text color */
}

.searchBar::placeholder {
    color: #7f8c8d; /* Placeholder color */
}

.featuredAlumni, .allAlumni {
    margin-top: 40px;
}

.featuredAlumni h2, .allAlumni h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #020202; /* Crimson for headings */
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

@media (max-width: 760px) {
    .cards {
        justify-content: flex-start;
    }

    .searchBar {
        width: 100%;
    }
}
