.card {
    width: 270px;
    height: 400px;
    background-color: #fff; /* Card background color */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.imagePlaceholder {
    height: 50%;
    background-color: gray; /* Placeholder background */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #888; /* Placeholder text color */
}

.info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.name {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 10px 0;
    color: #020202; /* Primary text color */
}

.occupation {
    font-size: 1.1rem;
    color: #333; /* Secondary text color */
    margin: 5px 0;
}

.passoutYear {
    font-size: 1rem;
    color: crimson; /* Accent color for passout year */
}
