
  
.login-page{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  height: 100vh;
}
  
  .container {
    max-width: 25rem;
    margin: 3.133rem ;
    padding: 1.33rem;
    background: white;
    box-shadow: 0 0 0.633rem rgba(0, 0, 0, 0.1);
    border-radius: 0.633rem;
  }
  
  h2 {
    margin-bottom: 1.33rem;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 0.316rem;
    font-weight: bold;
  }
  
  input {
    margin-bottom: 1rem;
    padding: 0.633rem;
    border: 1px solid #ddd;
    border-radius: 0.316rem;
    
  }
  
  button {
    padding: 0.633rem;
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 0.317rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(64, 138, 168);
  }

.sP{
  display: flex;
  justify-content: center;
}
#userselectbox{
  width:100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
#studentBtn,#alumniBtn{
  padding: 0.633rem;
  border: none;
  background-color: rgba(255, 58, 58, 0.759);
}