.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #020202;
    color: #ecf0f1;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: translateX(-100%);
    z-index: 10;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.15); 
}

.open {
    transform: translateX(0);

}

.closed {
    transform: translateX(-100%);
}

.hamburger {
    font-size: 2rem;
    cursor: pointer;
    margin: 20px;
    color: #ecf0f1;
}

.nav {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.feed {
    padding: 15px 25px;
    transition: background-color 0.2s ease;
}

.feeda {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 1.3rem;
    font-weight: 500;
    display: block;
    transition: color 0.2s ease;
}

.feed:hover {
    background-color: hsla(0, 0%, 50%,); 
}

.feed:hover .feeda {
    color:crimson;
}

