.sidebar {
    width: 220px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 4.2em;
    width: 200px;
    height: 100vh;
    background-color: white;
    box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.feeda{
    font-weight: 600;
    text-decoration: none;
    color: hsla(0, 0%, 4%, 0.804);
}

.feed{
    font-size: 1.2em;
    padding: 15px 20px;
    margin-bottom: 5px;
    align-items: center;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

.feed:hover{
    background-color: rgba(210, 216, 234, 0.3);
}
